In [46]:
import pandas as pd
from sklearn import datasets

In [144]:
import pandas as pd
import numpy as np
np.random.seed(123)

df = pd.DataFrame(np.random.rand(10, 2),
columns = ['col1', 'col2'])
df['col3'] = list(''.join(np.random.choice(list('abc')) for _ in range(len(df))))
df

       col1      col2 col3
0  0.696469  0.286139    a
1  0.226851  0.551315    b
2  0.719469  0.423106    a
3  0.980764  0.684830    b
4  0.480932  0.392118    a
5  0.343178  0.729050    a
6  0.438572  0.059678    a
7  0.398044  0.737995    c
8  0.182492  0.175452    b
9  0.531551  0.531828    b

In [49]:
from sklearn.preprocessing import LabelEncoder 
  
le = LabelEncoder() 
  
df['col3']= le.fit_transform(df['col3']) 
df

       col1      col2  col3
0  0.696469  0.286139     0
1  0.226851  0.551315     1
2  0.719469  0.423106     0
3  0.980764  0.684830     1
4  0.480932  0.392118     0
5  0.343178  0.729050     0
6  0.438572  0.059678     0
7  0.398044  0.737995     2
8  0.182492  0.175452     1
9  0.531551  0.531828     1

In [52]:
x=df.iloc[:,:-1]
y=df.iloc[:,2]
x

       col1      col2
0  0.696469  0.286139
1  0.226851  0.551315
2  0.719469  0.423106
3  0.980764  0.684830
4  0.480932  0.392118
5  0.343178  0.729050
6  0.438572  0.059678
7  0.398044  0.737995
8  0.182492  0.175452
9  0.531551  0.531828

In [59]:
from sklearn.preprocessing import OneHotEncoder
hot_encoder = OneHotEncoder(ca)
y = hot_encoder.fit_transform(y.values.reshape(-1,1)).toarray()

y

array([[1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.]])

In [60]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.2,random_state=0)

In [62]:
ytrain

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.]])

### 4th

In [112]:
from sklearn import datasets
diabetes = datasets.load_diabetes()
df = pd.DataFrame(diabetes.data)
df['target'] = diabetes.target

x=df.iloc[:,:-1]
y=df.iloc[:,-1]
df

,0,1,2,3,4,5,6,7,8,9,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485,104.0
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491,132.0
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930,220.0
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064,57.0

In [113]:
xtrain,ytrain,xtest,ytest = train_test_split(x,y,test_size=0.2)

In [130]:
# from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

In [127]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=100)
model.fit(x, y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [137]:
feat_labels=diabetes.feature_names

In [143]:
imp_features=[]
for feature in zip(feat_labels, model.feature_importances_):
    imp_features.append(feature)
for i in range(0,3):
    print(imp_features[i])

('age', 0.05989821271236491)
('sex', 0.010963166753784365)
('bmi', 0.2616805548919907)